<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rango</title>
    </head>

    <body>
        {% load staticfiles %}
        <div>
             <h1>Rango says...</h1>
             hey there partner! </br>
        </div>

        <div>
            {%  if categories %}
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}{% endfor %}</li>
            </ul>
            {% endif %}
        </div>

        <div>
             <a href = "rango/about/">About</a></br>
            <img src="{% static "rango.jpg" %}"
                 alt="Picture of Rango" />
        </div>
    </body>
</html>